# fly.toml app configuration file generated for crashdsa
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = 'crashdsa'
primary_region = 'ord'

[build]

[deploy]
  release_command = "bun run scripts/migrate.ts"
  release_command_timeout = "300s"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
